<app-navbar></app-navbar>
<div class="container">
	<div class="row">
		<div class="col s6">
			<app-restaurants 
				(emitSingleDataToParent)="emitSingleDataToParentHandler($event)" 
				(emitDataToParent)="emitDataToParentHandler($event)">
			</app-restaurants>
			<app-add-restaurant></app-add-restaurant>
		</div>
		<div class="col s6">
			<google-map [zoom]="zoom" [center]="center">
				<map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [title]="marker.title" (mapClick)="openInfo(markerElem, marker.title)">
				</map-marker>
				<map-info-window>{{markerContent}}</map-info-window>
			</google-map>
		</div>
	</div>
</div>